.mazo {
  margin-right: 1em;
  background-image: url("./../img/mazo/UNOPortada.svg");
  background-size: cover;
  z-index: 2;
}

.carta {
  width: 71px;
  height: 100px;
  position: absolute;
  @extend .mazo;
  background-image: unset;
  margin: 0;
  z-index: 2;
}

// .card-1 {
//   background-color: steelblue;
// }
// .card-2 {
//   background-color: purple;
// }
// .card-3 {
//   background-color: yellow;
// }

// .facedown {
//   background-color: #000;
// }
