.mazo {
  margin-right: 1em;
  background-image: url("./../img/mazo/UNOPortada.svg");
  background-size: cover;
  z-index: 1;
}

.carta {
  width: 71px;
  height: 100px;
  position: absolute;
  @extend .mazo;
  background-image: unset;
  margin: 0;
  z-index: 0;
}

.facedown {
  background-image: url("./../img/mazo/UNOPortada.svg");
  background-size: cover;
}
