body {
  background-image: url("./../img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.tablero {
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

[class*="infojugador"] {
  display: flex;
  align-items: center;
  position: absolute;
  color: #fff;
  font-size: 2em;
  img {
    border-radius: 50%;
    margin-right: 0.5em;
    width: 60px;
  }
}
.infojugador1 {
  bottom: 2rem;
}
.infojugador2 {
  transform: rotate(90deg);
  right: -3rem;
}
.infojugador3 {
  top: 2rem;
}
.infojugador4 {
  transform: rotate(-90deg);
  left: -3rem;
}

.chat {
  width: 20%;
  height: 96vh;
  background-color: rgba(255, 255, 255, 0.5);
}

.timer {
  text-align: center;
  padding: 0.25em 1em;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  align-self: flex-start;
  font-size: larger;
  position: absolute;
  top: 1em;
  left: 1em;
}
.timealert {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  align-self: flex-start;
  color: #ff0000;
  font-size: larger;
}
.botoncastigo {
  background-image: url(/juegovacaciones/assets/img/botonUNO.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 8vh;
  width: 8vh;
  position: relative;
  top: 40vh;
/*   box-shadow: 5px 3px 3px grey; */

}
