body {
  background-image: url(/assets/img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  
}

.tablero {
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

[class*="infojugador"] {
  display: flex;
  align-items: center;
  position: absolute;
  color: #fff;
  font-size: 2em;
  img {
    border-radius: 50%;
    margin-right: 0.5em;
    width: 60px;
  }
}
.infojugador1 {
  bottom: 3rem;
}
.infojugador2 {
  transform: rotate(90deg);
  right: 3rem;
}
.infojugador3 {
  top: 3rem;
}
.infojugador4 {
  transform: rotate(-90deg);
  left: 3rem;
}

.chat {
  width: 20%;
  height: 96vh;
  background-color: rgba(255,255,255,0.5);
  
}
